#admin{
    margin-top: 150px;
    color: white;
    
}

#admin i{
    font-size: 25px;
}


#title-admin{
    color: black;
}

#products{
    background-color: var(--morado);
}

#orders{
    background-color: var(--rosado);
}

#asuntos{
    background-color: var(--azulFuerte);
}

.cardProductExample{
    background-color: var(--moradito);
}

.icons{
    color: black;
}

.img-product{
    max-width: 150px;
}

@media(max-width:767px){
    .img-product,
    .title-desc,
    .description-product,
    .title-img{
        display: none;
    
    }
}


#deleteProduct{
    cursor: pointer;
}