.scroll-container {
    background-color:var(--rosadito);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px; 
    max-height: 400px; 
    overflow-y: auto; 
    border-radius: 10px;
}

#tituloAviso{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px; 
}

.content {
    width: 100vh;
    text-align: justify;
    margin-top: 100em;
}

@media screen and (min-width: 300px) and (max-width: 600px){
    .content {
        width: 100%;
        margin-top: 110em;
    }
}

