.section-products{
    background-color: var(--rosadito);
    padding: 20px;
    color: black;
    margin-top: 50px;
    margin-bottom: 5em;
    gap: 10px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}

.addedProduct{
    background-color: var(--moradito);
    padding: 20px;
    max-width: 100%;
    margin-top: 20px;
    border-radius: 30px;
    flex: 1;
}

.sectionPay{
    background-color: var(--amarillo);
    height: 100%;
    border-radius: 20px;
    flex: 1;
}

@media (max-width: 768px) {
    .section-products {
        flex-direction: column;
    }
}

#img{

    border: 20px; 
    margin-right: 20px;
}

.product-description{
    font-size: 13px;
}

.counter{
    font-size: 13px;
}