.footer h1,h2,h3,h4,h5{
    font-family: 'Cherry Bomb One', cursive;
    color: white;
}

.footer p{
    font-family: 'IBM Plex Serif', serif;
    color: white;
    font-size: 0.9rem;
}

.iconsSocialMedia i{
    font-size: 40px;
}

.contactInformation i{
    font-size: 35px;
}

#footerSuperior{
    background-color: #8E7CC3;
}

#footerInferior{
    background-color: #6A329F;
}

.fitWithElement{
    display: inline-block;
    width: fit-content;
}

@media (max-width : 760px) {
    .last-footer-div{
        text-align: center;
    }
    .fitWithElement{
        display: inline-block;
        width: 100%;
    }
    
}