.navbar {
    background-color: var(--amarillo);
    z-index: 3;
}

.navbar ul {
    width: 100%;
    display: flex;
    align-items: center;
}

.navbar a {
    color: #000;
    margin: 0;
}

.nav-link {
    font-size: 1.4rem;
}

.navbar-brand img {
    margin-left: 20px;
}

.navbar {
    position: fixed;
    width: 100%;
}

.navbar-brand img{
    height: 70px;
    width: 70px;
}

@media(max-width:1000px){
    .navbar ul{
        align-items: end;
    }
}