.container-purple {
    background-color: #8E7CC3;
    color: #fff;
}

.container-pink {
    background-color: #F89BDD;
}

.title {
    font-family: 'Cherry Bomb One', cursive;
    font-size: 4em;
    margin: 0.5em 0;
}

.img-size {
    margin: 2em 0;
    width: 20em;
    min-width: 100%;
    max-width: 20em;
    max-height: 30em;
    min-height: 300px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: ease-in-out 300ms;
    -webkit-transition: ease-in-out 300ms;
    -moz-transition: ease-in-out 300ms;
    -ms-transition: ease-in-out 300ms;
    -o-transition: ease-in-out 300ms;
}

.img-size:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

@media ( max-width:600px ) {
    .img-size {
        width: 15em;
        height: 370px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }
}

.main-nosotros{
    margin-top: 150px;
}