.containerProduct{
    margin-top: 10rem;
    margin-bottom: 10rem;
    min-height: 30rem;
    background-color: var(--moradito);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

h2{
    margin-top: 8rem;
    color: black;
}
.products{
    color: black
    
}


