.container-profile {
    color:black;
    margin-top: 10rem;
    margin-bottom: 5rem;
}

#button-deletePerfil{
    background-color: red;
    font-size: 1.5rem;
    
}

#button-edit{
    background-color: var(--azulFuerte);
    color: white;
    border-radius: 10px;    
    border: 2px solid black;   
    padding: 15px 0;
    width: 50%;
    margin-top: 20px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 1.5rem;
    font-family: "Cherry Bomb One";
    max-width: 100%;
    text-align: center;

    
}

.avatar-image{
    margin-top: 0%;
    margin-left: auto;
    margin-right: auto;
    width: 60%;

     
   }



.pedidos {
    background-color: var(--rosado);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    margin-bottom: 50px;
    margin-top: 100px;
    border-radius: 15px;
}

.pedidos h2 {
    color: black;
}

.pedidos-container {
    background-color: var(--rosadito);
}

.header-pedido {
    display: grid;
    grid-template-columns: 7.5% 20% 15% 32.5% 25%;
    align-items: center;
}

.header-pedido-layout {
    font-weight: 900;
}

a.icon-link>i.bi {
    height: fit-content;
    width: fit-content;
}



