.container-signup{
    background-color: var(--rosadito);
    padding: 70px 70px;
    border-radius: 25px;
    color: black;
    width: 600px;
}

.main-signup{
    margin-top: 100px;
    margin-bottom: 100px;
}

.gatito{
    display:flex;
    align-items:center;
    justify-content:end;
}

.gatito img, .abeja img{
    height:300px;
    width:235px;
}

.signup-h2{
    color: black;
    margin-bottom: 50px;
}

 @media(max-width:1050px){
    .container-signup{
       padding: 40px 40px;
       width:100% ;
       max-width: 500px ;
    }

.gatito{
       max-width: 500px ;
    }  
}

@media(max-width:700px){
     .container-signup{
        width: 100%;
        max-width: 100% ;
        padding: 30px;
    }
}
@media(max-width:700px){
     .abeja img{
        width: 20em;
        height: 20em; 
        
    }
    .abeja{        
        justify-content: center;  
    }
}

body{
    background-image: url(/assets/img/FondoCuenta2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

#form-button{
    background-color: var(--azulFuerte);
    color: white;
    border-radius: 10px;    
    border: 2px solid black;   
    padding: 15px 0;
    width: 50%;
    margin: 0 auto;
    margin-top: 50px;
    font-size: 1.5rem;
    font-family: "Cherry Bomb One";
    max-width: 100%;
    text-align: center;
}
