.container-signup{
    background-color: var(--rosadito);
    padding: 70px 70px;
    border-radius: 25px;
    color: black;
    width: 700px;
}

.main-signup{
    margin-top: 100px;
    margin-bottom: 100px;
}

.gatito{
    display:flex;
    align-items:center;
    justify-content:end;
}

.gatito img{
    height:300px;
    width:235px;
}

.signup-h2{
    color: black;
    margin-bottom: 50px;
}

 @media(max-width:1050px){
    .container-signup{
       padding: 70px 30px;
       width:100% ;
       max-width: 500px ;
    }

.gatito{
       max-width: 500px ;
    }  
}

@media(max-width:700px){
     .container-signup{
        width: 100%;
        max-width: 100% ;
        padding: 30px;
    }
}

body{
    background-image: url(/assets/img/FondoCuenta2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
