.container-signup{
    background-color: var(--rosadito);
    color: white;
    margin-top: 100px;
    margin-bottom: 25em;
    padding: 70px 100px;
    border-radius: 25px;
    color: black;
    width: 900px;
    
}

.signup-h2{
    color: black;
    margin-bottom: 50px;
}

body{
    background-image: url('https://media.tenor.com/loGxn5Y8Y4kAAAAi/peach-goma-boba-running-happy.gif');
    background-size: 300px;
    background-repeat: no-repeat;
    /* background-position: 1900px 800px; */

    background-position: 100% calc(80% - 200px);/*Hay que posicionar la imagen con respecto al porcentaje de la pantalla */
}

@media(max-width:900px){
    .container-signup{
        width: 700px;
    }
       body{
        background-size: 200px;
        background-position: 100% calc(100% - 541px);
    }
}

@media(max-width:700px){
     .container-signup{
        width: 100%;
        max-width: 100% ;
        padding: 30px;
    }

    body{
        background-size: 200px;
        background-position: 100% calc(100% - 651px);
    }
}

