.navbar{
    background-color: #FFD966 ;
}

.navbar ul{
    width: 100%;
    
}

.navbar{
    transition: none;
    transform: none;
}

.navbar  a{
    color: #fff;
    margin: 0;
}

.nav-link {
    font-family: "Cherry Bomb One";
    font-size: 24px ; 
    color: #8E7CC3;
    
}

.navbar-brand img{
    margin-left: 20px;
}   