.black-text-color :is(h1, h2, h3, h4, h5, h6, p) {
    color: black;
}

.contact {
    margin-top: 200px;
}

.contact-container {
    padding: 30px 50px;
    background-color: var(--rosadito);
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    margin-bottom: 50px;
}

.div-input {
    margin-bottom: 20px;
}

.form-div-button {
    background-color: var(--azulFuerte);
    color: white;
    padding: 15px 0;
    border-radius: 10px;
    width: 50%;
    margin-top: 20px;
}

p.alert {
    background-color: red;
    color: white;
    text-align: center;
    padding: 0px 0;
    width: 100%;
    margin-bottom: 10px;
}

@media(max-width:1200px) {
    .contact-container {
        padding: 30px 25px;
    }
}

@media(max-width:767px) {
    .row-reverse-form {
        display: flex;
        flex-direction: column-reverse;
    }

    .contact-container {
        padding: 30px 30px;
    }
}

.container-login-main{
    color: #fff;
    margin-top: 10rem;
    margin-bottom: 10rem;
    min-height: 30rem;
    max-width: 80%;
    background-color: var(--moradito);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.section-login{
    
    width: 50%;
    margin: 0 auto;
}



.containerProduct{
    margin-top: 10rem;
    margin-bottom: 10rem;
    min-height: 30rem;
    background-color: var(--moradito);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}